.container-fluid{
    width:1000px;
    height: 500px;
    margin-top: 80px;
}



@media (max-width: 1000px) {
    .container-fluid {
      width: 700px;
    }
}
@media (max-width: 700px) {
    .container-fluid {
      width: 400px;
    }
}

@media (max-width: 400px) {
    .container-fluid {
      width: 300px;
    }
}
@media (max-width: 400px) {
    .container-fluid {
      width: 200px;
    }
}
@media (max-width: 200px) {
    .container-fluid {
      width: 150px;
    }
}