.content-page {
  margin-left: 0px;
  margin-top: -120px;
}
.custom-icon-class {
  color: blue !important;
}

input[type="file"] {
  width: 300px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #555;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}
:host ::ng-deep .p-calendar {
  width: 100%;
}
:host ::ng-deep .p-calendar .p-inputtext {
  height: 50px;
  line-height: 50px;
  background: #f8f7f7;
  border: 1px solid #e0e2db;
  font-size: 14px;
  color: #605c8d;
  border-radius: 16px;
  box-shadow: none;
}
