<div>
  <div class="d-flex justify-content-center align-items-center">
    <div>
      <div class="text-center">
        <img src="assets/images/5506619.png" height="200" />
      </div>
      <div class="my-3 text-start">
        <div class="text-center" style="font-family: roboto; font-weight: 800">
          Bienvenue sur Arsii !
        </div>

        <p class="m-0">
          Nous sommes ravis de vous accueillir sur notre plateforme dédiée à
          l'excellence, l'innovation et la passion. Chez Arsii, nous croyons en
          la puissance de la créativité pour façonner un avenir exceptionnel. En
          plus de nos ressources, nous vous invitons à partager vos propres
          compétences et talents.
        </p>
        <p class="m-0">
          Partagez votre expertise et découvrez comment vous pouvez contribuer à
          enrichir la communauté Arsii.
        </p>
        Cliquez sur le boutton ci-dessous pour être redirigé vers une interface
        où vous pourrez compléter votre profil en ajoutant vos compétences
        uniques.
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn mx-2 btn-primary" (click)="close()">
          Voir skills
        </button>
      </div>
    </div>
  </div>
</div>
