<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div
          class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content"
        >
          <h5>Més Evénements</h5>
          <!-- <div class="pl-3 border-left btn-new">
            <button
              class="btn mx-2"
              (click)="getAllEvents('Event'); selectedType = 'Event'"
              [ngClass]="
                selectedType == 'Event' ? 'btn-info' : 'btn-outline-info'
              "
            >
              EVENEMENT
            </button>
            <button
              class="btn mx-2"
              [ngClass]="
                selectedType == 'Formation'
                  ? 'btn-secondary'
                  : 'btn-outline-secondary'
              "
              (click)="getAllEvents('Formation'); selectedType = 'Formation'"
            >
              FORMATION
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div
    class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3"
    *ngFor="let userEvent of events"
    (click)="selectedEvent = userEvent?.event"
    data-target="#details-modal"
    data-toggle="modal"
    style="min-height: 260px; cursor: pointer"
  >
    <div class="event card-body">
      <div class="text-end"></div>
      <div
        class="d-flex align-items-center justify-content-between mb-4"
        style="min-height: 260px; max-height: 260px"
      >
        <img
          *ngIf="userEvent?.event.image"
          [src]="'/api/arsii/file/img/' + userEvent?.event.image"
          alt=""
          class="event-image"
        />
        <img
          *ngIf="!userEvent?.event.image"
          src="assets/images/insert-image.png"
          alt=""
          class="event-image"
        />
      </div>
      <h5 class="mb-1">{{ userEvent?.event.title }}</h5>
      <p class="mb-3">{{ userEvent?.event.description | slice : 0 : 25 }}...</p>
      <div class="pt-3 border-top">
        <p class="mb-1">
          <i class="ri-map-pin-line"></i>
          {{ userEvent?.event.location | slice : 0 : 25 }}
        </p>
        <span>
          <strong>{{ userEvent?.event.type }}</strong>
        </span>

        <div class="d-flex justify-content-between mb-1">
          <span>
            <i class="ri-calendar-2-line"></i>
            {{ userEvent?.event.date | date : "mediumDate" }}
          </span>
          <span class="d-flex">
            <i class="ri-user-line ml-1"></i
            >{{ userEvent?.event.numberOfParticipants }} /
            {{ userEvent?.event.maxOfParticipants }}
            <a
              tabindex="0"
              role="button"
              data-toggle="popover"
              data-bs-trigger="focus"
              data-bs-content="le nombre des participants"
            >
              <i class="ri-question-line ml-1"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-event-details
  [reserved]="true"
  [event]="selectedEvent"
></app-event-details>
