<div class="modal fade" role="dialog" aria-modal="true" id="details-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" *ngIf="event">
      <div class="modal-header d-block text-center pb-3 border-bttom">
        <h3 class="modal-title" id="exampleModalCenterTitle01">
          {{ event.title }}
        </h3>
      </div>
      <div class="modal-body">
        <section id="event-details" class="event-details" *ngIf="event">
          <div class="container">
            <div class="row gy-4">
              <div class="col">
                <div class="event-details-slider swiper">
                  <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide text-center">
                      <img
                        style="max-width: 100%; max-height: 50vh"
                        [src]="'/api/arsii/file/img/' + event.image"
                        alt="{{ event.title }}"
                      />
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
            <div class="row gy-4 py-2">
              <div class="d-flex justify-content-end">
                <button
                  *ngIf="!reserved"
                  class="btn mx-2 btn-info"
                  (click)="reservationEvent()"
                >
                  Inscrire
                </button>
                <button *ngIf="reserved" class="btn mx-2 btn-outline-info">
                  Confirmé
                </button>
                <a [href]="event.urlFacebook" target="_blank">
                  <button
                    *ngIf="event.urlFacebook"
                    class="btn mx-2 btn-primary"
                  >
                    Voir facebook
                  </button></a
                >
              </div>
              <div class="col">
                <div class="event-info">
                  <!-- <h3>{{ event.title }}</h3> -->
                  <ul>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div>
                          <strong>Date</strong>:
                          {{ event.date | date : "dd LLLL yyyy, HH:mm" }}
                        </div>
                        {{ event.numberOfParticipants }} /
                        {{ event.maxOfParticipants }}
                      </div>
                    </li>
                    <li>
                      <strong>Localisation: {{ event.location }}</strong>
                    </li>
                    <!-- <li><strong>Partenaire</strong>: {{ event.partner_id }}</li>
                    <li>
                      <strong>Lien d'inscription</strong>:
                      <a href="#">www.example.com</a>
                    </li> -->
                  </ul>
                </div>
                <div class="event-description">
                  <!-- <h2>This is an example of portfolio detail</h2> -->
                  <p>
                    {{ event.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
